DATABASE_URL=
VERIFY_TOKEN=
META_APP_SECRET=
META_ACCESS_TOKEN=
META_CATALOG_ID=
WHATSAPP_PHONE_NUMBER_ID=
GRAPH_API_VERSION=v19.0
ADMIN_API_KEY=
BASE_URL=https://api.hadjretbladi.com
ALLOWED_ORIGINS=https://store.hadjretbladi.com
IMAGE_BASE_URL=https://hadjretbladi.com/products
PRODUCT_LINK_TEMPLATE=https://store.hadjretbladi.com/p/{sku}
